<html>
<head>
  <title>Registration Form</title>
</head>
<style>
  input{
    display: block;
  }
</style>
<body>
  <h1>Enter your information</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action='/process' method='POST'>
    First Name:<input type="text" name="first_name">
    Last Name:<input type="text" name="last_name">
    Email:<input type="text" name="email">
    Password:<input type="text" name="password">
    Confirm Password:<input type="text" name="confirm_password">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
