<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disappearing Ninjas</title>
</head>
<style>
    img {
      height: 200px;
      width: 200px;
    }
</style>
<body>
    <div>
        <h1>Disappearing Ninjas</h1>
        {% with col = color %}
          {% if color == 'nocolor' %}
            <img src="{{ url_for('static', filename='images/donatello.jpg') }}" alt="donatello.jpg">
            <img src="{{ url_for('static', filename='images/michelangelo.jpg') }}" alt="michelangelo.jpg">
            <img src="{{ url_for('static', filename='images/raphael.jpg') }}" alt="raphael.jpg">
            <img src="{{ url_for('static', filename='images/leonardo.jpg') }}" alt="leonardo.jpg">
          {% elif color == 'blue' %}
            <img src="{{ url_for('static', filename='images/leonardo.jpg') }}" alt="leonardo.jpg">
          {% elif color == 'red' %}
            <img src="{{ url_for('static', filename='images/raphael.jpg') }}" alt="raphael.jpg">
          {% elif color == 'purple' %}
            <img src="{{ url_for('static', filename='images/donatello.jpg') }}" alt="donatello.jpg">
          {% elif color == 'orange' %}
            <img src="{{ url_for('static', filename='images/michelangelo.jpg') }}" alt="michelangelo.jpg">
          {% else %}
            <img src="{{ url_for('static', filename='images/notapril.jpg') }}" alt="notapril.jpg">
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>
